@charset "utf-8";html {
  font-size: 62.5%;
}

body,div,p,ul,section {
  margin: 0;
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
}

img,input,button,textarea {
  border: 0;
}

body {
  font-family: Arial,Helvetica,sans-serif;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
}

input,button,textarea,select {
  background: transparent;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

em,i {
  font-style: normal
}

.mr20 {
  margin-right: 20px;
}

.arrow {
  width: 8px;
  height: 8px;
  border-width: 2px 2px 0 0;
}

.arrow {
  border-style: solid;
  display: inline-block;
}

.arrow-l {
  -webkit-transform: rotate(-135deg);
}

.p-satue,.systembtn,.satue-w {
  border-radius: 4px;
  display: inline-block;
  padding: 0 5px;
  position: relative;
}

.p-satue,.systembtn-blue {
  border: 1px solid #006CFF;
  color: #006CFF;
}

.p-satue,.satue-w {
  font-size: 1.2rem;
  margin-left: 5px;
  line-height: 18px;
  top: -2px;
}

.bg-fff {
  background-color: #fff;
}

body {
  padding: 45px 0 70px 0;
  color: #3C3C3C;
  font-size: 1.5rem;
  background: #f7f7f7;
}

.topBar {
  height: 43px;
  border-bottom: 1px solid #eee;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 1.8rem;
  background: #f7f7f7;
  line-height: 43px;
  z-index: 100;
}

a.back {
  left: 0;
  position: absolute;
  width: 25px;
  height: 100%;
  top: 0;
  color: #007AFF
}

a.back .aorrow {
  border-color: #006cff;
}

.flexbox {
  display: -webkit-box;
}

.flex1 {
  -webkit-box-flex: 1;
}

.flex2 {
  -webkit-box-flex: 2;
}

.wrap {
  padding: 0 15px;
  background: #fff;
}

.card_info {
  font-size: 1.4rem;
  line-height: 35px;
  color: #646464;
}

.order-info {
  background: #fff;
  padding: 16px 15px;
}

.order-info .title {
  font-size: 16px;
  color: #3C3C3C;
  letter-spacing: 0;
  font-weight: bold;
  margin-bottom: 10px;
}

.order-info .content {
  font-size: 14px;
  color: #646464;
  letter-spacing: 0;
}

.order-info .content p:not(:last-child) {
  margin-bottom: 5px;
}

.order-info .content .flexbox:not(:last-child) {
  margin-bottom: 10px
}

.tzlist .card_info {
  padding: 8px 15px;
  border-bottom: 1px solid #f4f4f4;
  background: #fff;
}

.tzlist .card_info .flexbox {
  -webkit-box-align: center;
}

.tzlist .card_info a {
  display: inline-block;
  padding: 0 10px;
}

.text-align-r {
  text-align: right
}

.c-3c3 {
  color: #3C3C3C;
}

.mb10 {
  margin-bottom: 10px;
}

.booking-btn,.order-btn-long {
  display: inline-block;
  color: #fff;
  background-image: linear-gradient(135deg,#FF8200 0%,#FF4B00 100%);
  border-radius: 6px;
  position: relative;
}

.dingdan-footer .nzmbox {
  width: 25.6vw;
}

.dingdan-footer input[type="text"] {
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  width: 85%;
  line-height: 40px;
  position: relative;
  top: -2px;
  margin: 0 5%;
}

.dingdan-footer .order-btn-long {
  top: -2px;
}

.order-bottom {
  position: fixed;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  font-size: 14px;
  color: #323232;
}

.order-btn-long {
  width: 100px;
  height: 42px;
  top: -4px;
  font-size: 1.6rem;
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  z-index: 10;
}

.winpop {
  position: fixed;
  top: 30%;
  left: 6%;
  right: 6%;
  background: #fff;
  border-radius: 6px;
  z-index: 60;
}

.winpop-cont {
  padding: 20px 15px;
  font-size: 1.6rem;
}

.winpop-cont >.title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.4rem;
}

.winpop .btngroup button {
  width: 100%;
  line-height: 50px;
  font-size: 1.8rem;
  color: #006CFF;
}

.close-btn-gray {
  position: absolute;
  top: 14px;
  right: 17px;
  background: url(../images/close-btn-01.png) no-repeat;
  width: 21px;
  height: 21px;
  background-size: cover;
  display: inline-block
}
